@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.khmerosmoul {
  font-family: "Instrument Sans", "khmerosmoul";
}

.battambang {
  font-family: "Instrument Sans", "battambang";
}